<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace代表映射的类，此处为User,不能随便写 -->
<mapper namespace="com.tnti.bean.UserMapper">
	<select id="selectById" parameterType="int" resultType="com.tnti.bean.User">
		select * from user where id = #{id}
	</select>
</mapper>
